@model IEnumerable<Domain.Produto>

@{
    ViewData["Title"] = "Index";
}

<h2>Produtos</h2>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaStatus)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codProduto = item.CodProduto.Trim() }) |
                @Html.ActionLink("Deletar", "Delete", new { codProduto = item.CodProduto.Trim() })
            </td>
        </tr>
}
    </tbody>
</table>
