@model IEnumerable<Domain.MovimentoManual>

@{
    ViewData["Title"] = "Index";
}

<h2>Movimentos Manuais</h2>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mês
            </th>
            <th>
                Ano
            </th>
            <th>
                Código Produto
            </th>
            <th>
                Descrição Produto
            </th>
            <th>
                Num. Lançamento
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesDescricao)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.ValValor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { codProduto = item.CodProduto.Trim(), codCosif = item.CodCosif.Trim(), mes = item.DatMes, ano = item.DatAno, numeroLancamento = item.NumLancamento }) |
                @Html.ActionLink("Deletar", "Delete", new { codProduto = item.CodProduto.Trim(), codCosif = item.CodCosif.Trim(), mes = item.DatMes, ano = item.DatAno, numeroLancamento = item.NumLancamento })
            </td>
        </tr>
        }
    </tbody>
</table>
