@model Repository.Models.MovimentoManual

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovimentoManual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodProduto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodProduto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValValor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValValor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesDescricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesDescricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatMovimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatMovimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodUsuarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodUsuarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodCosifNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodCosifNavigation.CodCosif)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
