@model IEnumerable<Repository.Models.MovimentoManual>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatMovimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodUsuarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCosifNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatMovimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCosifNavigation.CodCosif)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
